<td-layout-nav logo="assets:testmanagement-light-v2" toolbarTitle="Blog">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span></span>
    <span flex></span>
    <a md-icon-button mdTooltip="Github" href="https://github.com/MarcoCaballero/tfg-blog-testmanagement" target="_blank">
      <md-icon svgIcon="assets:github"></md-icon>
    </a>
    <a md-icon-button mdTooltip="LinkedIn" href="https://www.linkedin.com/in/marco-caballero/" target="_blank">
      <md-icon svgIcon="assets:linkedin"></md-icon>
    </a>
  </div>
  <td-layout-manage-list #manageList [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <md-toolbar td-sidenav-content>
      <span>Blogs</span>
      <span flex></span>
      <span hide-gt-md>
          <button class="push-left-xxl" md-icon-button (click)="!media.query('gt-sm') && manageList.close()">
            <md-icon color="primary">cancel</md-icon>
          </button>
      </span>
    </md-toolbar>
    <md-nav-list td-sidenav-content>
      <a md-list-item md-ripple (click)="!media.query('gt-sm') && manageList.close()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['/blogs']">
        <md-icon md-list-icon>forum</md-icon>
        All Blogs
      </a>
      <a md-list-item md-ripple (click)="!media.query('gt-sm') && manageList.close()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
        [routerLink]="['timeline']">
        <md-icon md-list-icon>timeline</md-icon>
        Timeline Blogs
      </a>
      <a md-list-item md-ripple (click)="!media.query('gt-sm') && manageList.close()">
        <md-icon md-list-icon>filter_1</md-icon>
        TestManagement
      </a>
      <a md-list-item md-ripple (click)="!media.query('gt-sm') && manageList.close()">
        <md-icon md-list-icon>filter_2</md-icon>
        Plugin
      </a>
      <a md-list-item md-ripple (click)="!media.query('gt-sm') && manageList.close()">
        <md-icon md-list-icon>filter_3</md-icon>
        Blog
      </a>
    </md-nav-list>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span>Blogs section</span>
      <span flex></span>
    </div>
    <router-outlet></router-outlet>
  </td-layout-manage-list>
  <button md-fab hide-gt-md id="right-side" class="mat-fab-bottom-right" aria-label="New Task" (click)='switchFab()'>
    <md-icon>menu</md-icon>
  </button>
  <button md-mini-fab hide-gt-md id="menu5" color="primary" *ngIf="!firsTimeFab" [ngClass]="{'fabActionsHide':!fabToggle,'fabActionsShow':fabToggle}"
    class="mini" mdTooltip="All blogs" mdTooltipPosition="before" [routerLink]="['/blogs']" [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{exact:true}" (click)="switchFab()">
       <md-icon>forum</md-icon>
    </button>
  <button md-mini-fab hide-gt-md id="menu4" color="primary" *ngIf="!firsTimeFab" [ngClass]="{'fabActionsHide':!fabToggle,'fabActionsShow':fabToggle}"
    class="mini" mdTooltip="Timeline Blogs" mdTooltipPosition="before" [routerLink]="['timeline']" [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{exact:true}" (click)="switchFab()">
       <md-icon>timeline</md-icon>
    </button>
  <button md-mini-fab hide-gt-md id="menu3" color="primary" *ngIf="!firsTimeFab" [ngClass]="{'fabActionsHide':!fabToggle,'fabActionsShow':fabToggle}"
    class="mini" mdTooltip="TestManagement" mdTooltipPosition="before" (click)="switchFab()">
       <md-icon>filter_1</md-icon>
    </button>
  <button md-mini-fab hide-gt-md id="menu2" color="primary" *ngIf="!firsTimeFab" [ngClass]="{'fabActionsHide':!fabToggle,'fabActionsShow':fabToggle}"
    class="mini" mdTooltip="Plugin" mdTooltipPosition="before" (click)="switchFab()">
       <md-icon>filter_2</md-icon>
    </button>
  <button md-mini-fab hide-gt-md id="menu1" color="primary" *ngIf="!firsTimeFab" [ngClass]="{'fabActionsHide':!fabToggle,'fabActionsShow':fabToggle}"
    class="mini" mdTooltip="Blog" mdTooltipPosition="before" (click)="switchFab()">
       <md-icon>filter_3</md-icon>
    </button>
</td-layout-nav>