<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    <md-card-title layout="row" layout-align="start center">
        <span class="md-title">Timeline</span>
    </md-card-title>
    <md-card-subtitle>Blog timeline sorted by date.</md-card-subtitle>
    <md-divider></md-divider>
    <md-divider></md-divider>
    <md-card-content>
        <ng-template tdLoading="blogs.timeline">
            <md-list class="will-load">
                <div class="md-padding" *ngIf="blogs?.length === 0" layout="row" layout-align="center center">
                    <h3>No users to display.</h3>
                </div>
                <td-steps>
                    <ng-template let-i="index" let-item ngFor [ngForOf]="filteredBlogsArray">
                        <td-step *ngIf="filteredBlogsArray[i].blogs?.length > 0" label=" {{item.name}}" sublabel="19 Blogs" [disabled]="disabled ">
                            <ng-template let-blog let-last="last" ngFor [ngForOf]="item.blogs">
                                <tmblog-blogs-item [blog]="blog"></tmblog-blogs-item>
                                <md-divider *ngIf="!last" md-inset></md-divider>
                            </ng-template>
                        </td-step>
                    </ng-template>
                </td-steps>
            </md-list>
        </ng-template>
    </md-card-content>
</md-card>