@import '../../../theme';

/* Variables */
$primary:       map-get($theme, primary);
$primary-light: map-get($theme-light, primary-light);
$accent:        map-get($theme, accent);
$accent-light:  map-get($theme-light, accent-light);
$warn:          map-get($theme, warn);
$warn-light:    map-get($theme-light, warn-light);
$break-small:   604px;
$break-small-p1:   318px; //37
$break-small-p2:   409px; //24
$break-small-p3:   467px; //14
$break-small-p4:   609px; //14 && 86px

/* :host /deep/ lets shadowdom style child elements */
:host /deep/ {
    .td-expansion-panel-header.mat-ripple {
        background: rgba(255, 167, 38, 0.3);
        &:hover {
            background: rgba(255, 167, 38, 0.5);
        }
        &:focus {
            background: rgba(255, 167, 38, 0.5);
        }
    }
    td-expansion-summary md-list {
        @media screen and (min-width: $break-small-p1) {
            padding: 57px 2px 2px 2px;
            min-height: 135px !important;
        }
        @media screen and (min-width: $break-small-p2) {
            padding: 43px 2px 2px 2px;
            min-height: 105px !important;
        }
        @media screen and (min-width: $break-small-p3) {
            padding: 22px 2px 2px 2px;
            min-height: 85px !important;
        }
        @media screen and (min-width: $break-small-p4) {
            padding: 21px 2px 2px 2px;
            min-height: 72px !important;
        }
    }
    td-expansion-summary md-list.chips-four {
        @media screen and (min-width: $break-small-p1) {
            padding: 36px 2px 2px 2px;
            min-height: 96px !important;
        }
        @media screen and (min-width: $break-small-p2) {
            padding: 20px 2px 2px 2px;
            min-height: 90px !important;
        }
        @media screen and (min-width: $break-small-p3) {
            padding: 23px 2px 2px 2px;
            min-height: 87px !important;
        }
        @media screen and (min-width: $break-small-p4) {
            padding: 12px 2px 2px 2px;
            min-height: 70px !important;
        }
    }
    .td-chips-wrapper {
         @media screen and (max-width: $break-small) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            min-height: 39px;
          }
         @media screen and (min-width: $break-small) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            min-height: 39px;
         }
    }
}










