<md-list>
    <md-list-item>
        <md-icon class="blog-header" md-list-avatar svgIcon="{{blog.imageID}}"></md-icon>
        <h3 md-line> {{blog.title}}</h3>
        <p md-line> {{blog.subtitle}} </p>
        <p md-line hide-gt-md class="md-caption"> Created: {{ blog.created | date }} </p>
        <span flex></span>
        <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
            <div class="md-caption tc-grey-500" flex-gt-xs="50"> Created: {{ blog.created | date }} </div>
            <div class="md-caption tc-grey-500" flex-gt-xs="50"> Last updated: {{ blog.lastAccess | timeAgo }} </div>
        </span>
        <span>
            <button md-icon-button  [routerLink]="['/blogs', blog.project, blog.id]">
            <md-icon class="go-into">keyboard_arrow_right</md-icon>
            </button>
        </span>
    </md-list-item>
</md-list>