<td-layout #layout>
  <td-navigation-drawer logo="assets:testmanagement-light-v2">
    <md-nav-list>
      <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
        <a md-list-item [routerLink]="[item.route]" (click)="layout.close()">
          <md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
      </ng-template>
    </md-nav-list>
  </td-navigation-drawer>

  <td-layout-nav logo="assets:testmanagement-light-v2" toolbarTitle="Blog">
    <div td-toolbar-content layout="row" layout-align="center center" flex>
      <span></span>
      <span flex></span>
      <a md-icon-button mdTooltip="Github" href="https://github.com/MarcoCaballero/tfg-blog-testmanagement" target="_blank">
        <md-icon svgIcon="assets:github"></md-icon>
      </a>
      <a md-icon-button mdTooltip="LinkedIn" href="https://www.linkedin.com/in/marco-caballero/" target="_blank">
        <md-icon svgIcon="assets:linkedin"></md-icon>
      </a>
    </div>
    <md-toolbar id="mainComponent-main" color="primary" class="pad-none">
      <nav md-stretch-tabs md-tab-nav-bar class="pull-bottom-xl pull-top-md text-upper" flex>
        <a class="text-menu" md-tab-link [routerLink]='' routerLinkActive="active" [active]="true">
          <span hide-xs>Home</span>
          <span hide-gt-xs><md-icon>home</md-icon></span>
        </a>
        <a class="text-menu" md-tab-link>
          <span hide-xs>Recent Posts</span>
          <span hide-gt-xs><md-icon>laptop_mac</md-icon></span>
        </a>
        <a class="text-menu" md-tab-link>
          <span hide-xs>Posts timeline</span>
          <span hide-gt-xs><md-icon>language</md-icon></span>
        </a>
        <a class="text-menu" md-tab-link>
          <span hide-xs>Related</span>
          <span hide-gt-xs><md-icon>assignment</md-icon></span>
        </a>
      </nav>
    </md-toolbar>
    <router-outlet></router-outlet>
  </td-layout-nav>
</td-layout>