<td-layout-card-over color="primary" cardWidth="85">
  <div>
    <md-card-title class="center-title" layout="row" layout-align="start center">
      <span class="md-title push-top">{{project}}</span>
    </md-card-title>
    <md-card-subtitle class="center-subtitle">{{projectSubtitle}}</md-card-subtitle>
  </div>
  <md-divider></md-divider>
  <md-card-content>
    <ng-template tdLoading="blog.id">
      <md-list class="will-load">
        <div class="md-padding" *ngIf="filteredBlogs?.length === 0" layout="row" layout-align="center center">
          <h3>No users to display.</h3>
        </div>
        <ng-template let-user let-last="last" ngFor [ngForOf]="filteredBlogs">
          <md-list-item class="blog-header">
            <md-icon class="image-header" md-list-icon svgIcon="{{blog.imageID}}"></md-icon>
          </md-list-item>
          <md-list-item class="blog-title">
            <h2 md-line> {{blog.title}}</h2>
            <p md-line> {{blog.subtitle}} </p>
            <span flex></span>
          </md-list-item>
          <md-divider *ngIf="!last" md-inset></md-divider>
        </ng-template>
      </md-list>
    </ng-template>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions class="blog-date">
    <!-- actions -->
    <md-list-item class="created">
      <p class="md-caption"> Created: {{ blog.created | date }} </p>
    </md-list-item>

    <md-list-item class="updated">
      <p class="md-caption"> Last updated: {{ blog.lastAccess | timeAgo }} </p>
    </md-list-item>
  </md-card-actions>
</td-layout-card-over>