<td-layout-card-over color="primary" cardWidth="85" cardTitle="{{blog?.title}}" cardSubtitle="{{blog?.subtitle}}">
  <md-card-content>
    <ng-template tdLoading="blog.id">
      <md-list class="will-load">
        <div class="md-padding" *ngIf="filteredBlogs?.length === 0" layout="row" layout-align="center center">
          <h3>No users to display.</h3>
        </div>
        <ng-template let-user let-last="last" ngFor [ngForOf]="filteredBlogs">
          <md-list-item>
            <md-icon class="blog-header" md-list-avatar svgIcon="{{blog.imageID}}"></md-icon>
            <h3 md-line> {{blog.title}}</h3>
            <p md-line> {{blog.subtitle}} </p>
            <p md-line hide-gt-md class="md-caption"> Created: {{ blog.created | date }} </p>
            <span flex></span>
            <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
            <div class="md-caption tc-grey-500" flex-gt-xs="50"> Created: {{ blog.created | date }} </div>
            <div class="md-caption tc-grey-500" flex-gt-xs="50"> Last updated: {{ blog.lastAccess | timeAgo }} </div>
        </span>
            <span>
            <button md-icon-button  [routerLink]="['/blogs', blog.project, blog.id]">
            <md-icon class="go-into">keyboard_arrow_right</md-icon>
            </button>
        </span>
          </md-list-item>
          <md-divider *ngIf="!last" md-inset></md-divider>
        </ng-template>
      </md-list>
    </ng-template>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions>
    <button md-button color="accent" class="text-upper">Edit</button>
  </md-card-actions>
</td-layout-card-over>