<td-layout-nav [ngClass]="{'doIt':scrollToZ}" logo="assets:testmanagement-light-v2" toolbarTitle="Blog">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span></span>
    <span flex></span>
    <a md-icon-button mdTooltip="Github" href="https://github.com/MarcoCaballero/tfg-blog-testmanagement" target="_blank">
      <md-icon svgIcon="assets:github"></md-icon>
    </a>
    <a md-icon-button mdTooltip="LinkedIn" href="https://www.linkedin.com/in/marco-caballero/" target="_blank">
      <md-icon svgIcon="assets:linkedin"></md-icon>
    </a>
  </div>
  <md-toolbar id="mainComponent-main" color="primary" class="pad-none">
    <nav md-stretch-tabs md-tab-nav-bar class="pull-bottom-xl pull-top-md text-upper" flex>
      <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
        <a class="text-menu sliding-underline" md-tab-link [routerLink]="[item.route]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <span  hide-xs>{{item.title}}</span>
            <span  hide-gt-xs><md-icon>{{item.icon}}</md-icon></span>
          </a>
      </ng-template>
    </nav>
  </md-toolbar>
  <section #navi class="bgc-blue-grey-50">
    <div layout-gt-xs="row">
      <div flex class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xl']">
        <div class="push-top-xl" hide-xs></div>
        <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">
          <h1 class="md-display-1 tc-blue-A400 push-top-xs push-bottom-sm">This is my TFG blog</h1>
          <h2 class="md-headline tc-grey-800 push-top-xs push-bottom-sm">TestManagement</h2>
          <p class="md-subhead tc-grey-600">This little blog is dedicated to my final project, in which it will be possible to follow the evolution and the
            development of the tasks required for the elaboration of the same one. For this you will have several blogs where
            you can see and read the tasks we talked about previously.</p>
          <button md-raised-button color="accent" class="push-bottom mat-button-lg text-upper">GO TIMELINE!</button>
        </div>
        <div class="push-bottom-xl" hide-xs></div>
      </div>
      <div flex="50" layout="row" layout-align="center center">
        <md-icon class="push" style="height:auto;width:auto;" svgIcon="assets:testmanagement"></md-icon>
      </div>
    </div>
  </section>

  <section id="prueba" class="bgc-blue-A700 tc-white" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-md', 'pad-bottom-xl']">
    <h2 class="md-display-1 text-upper text-center push-bottom">Working with the following technology stack.</h2>
    <div layout="row" class="pull-on-xs" layout-align-gt-xs="center center">
      <div flex-gt-xs="80" layout="row" layout-wrap>
        <ng-template let-item let-last="last" ngFor [ngForOf]="logos">
          <div class="text-center logos push-xs" flex-xs="40" flex-gt-xs="25">
            <md-icon class="push" style="height:auto;width:auto;" mdTooltip={{item.name}} mdTooltipPosition="above" svgIcon="{{item.logo}}"></md-icon>
          </div>
        </ng-template>
        <ng-template let-item let-last="last" ngFor [ngForOf]="logosBottom">
          <div class="text-center logos push-xs" flex-xs="40" flex-gt-xs="25">
            <md-icon class="push" style="height:auto;width:auto;" mdTooltip={{item.name}} mdTooltipPosition="above" svgIcon="{{item.logo}}"></md-icon>
          </div>
        </ng-template>
      </div>
    </div>
  </section>
  <section class="bgc-blue-grey-100" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl']">
    <h2 class="md-display-1 text-upper text-center push-bottom">List of blogs by project</h2>
    <div layout-gt-xs="row" layout-align-gt-xs="center center">
      <div layout-gt-xs="row" flex-gt-xs="90" layout-margin>
        <div flex-gt-xs="25">
          <md-card>
            <md-toolbar color="accent" class="bgc-blue-A400 push-bottom">
              <span class="text-upper">Blog</span>
            </md-toolbar>
            <md-card-subtitle>Tasks</md-card-subtitle>
            <md-divider></md-divider>
            <md-list>
              <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
                <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Introducing to gh-pages ..</h4>
                  <md-icon class="fill-grey-700">chevron_right</md-icon>
                </md-list-item>
                <md-divider md-inset *ngIf="!last"></md-divider>
              </ng-template>
            </md-list>
            <md-divider></md-divider>
            <md-card-actions>
              <a md-button color="accent" class="text-upper">View All</a>
            </md-card-actions>
          </md-card>
        </div>
        <div flex-gt-xs="25">
          <md-card>
            <md-toolbar color="accent" class="bgc-light-blue-A400 push-bottom">
              <span class="text-upper">Plugin</span>
            </md-toolbar>
            <md-card-subtitle>Tasks</md-card-subtitle>
            <md-divider></md-divider>
            <md-list>
              <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
                <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Introducing to gh-pages ..</h4>
                  <md-icon class="fill-grey-700">chevron_right</md-icon>
                </md-list-item>
                <md-divider md-inset *ngIf="!last"></md-divider>
              </ng-template>
            </md-list>
            <md-divider></md-divider>
            <md-card-actions>
              <a md-button color="accent" class="text-upper">View All</a>
            </md-card-actions>
          </md-card>
        </div>
        <div flex-gt-xs="25">
          <md-card>
            <md-toolbar color="accent" class="bgc-cyan-A700 push-bottom">
              <span class="text-upper text-md">TestManagement</span>
            </md-toolbar>
            <md-card-subtitle>Tasks</md-card-subtitle>
            <md-divider></md-divider>
            <md-list>
              <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
                <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Introducing to gh-pages ..</h4>
                  <md-icon class="fill-grey-700">chevron_right</md-icon>
                </md-list-item>
                <md-divider md-inset *ngIf="!last"></md-divider>
              </ng-template>
            </md-list>
            <md-divider></md-divider>
            <md-card-actions>
              <a md-button color="accent" class="text-upper">View All</a>
            </md-card-actions>
          </md-card>
        </div>
        <div flex-gt-xs="25">
          <md-card>
            <md-toolbar color="accent" class="bgc-teal-A700 push-bottom">
              <span class="text-upper">Others</span>
            </md-toolbar>
            <md-card-subtitle>Tasks</md-card-subtitle>
            <md-divider></md-divider>
            <md-list>
              <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
                <md-list-item>
                  <md-icon md-list-icon class="fill-grey-700">description</md-icon>
                  <h4 md-line>Introducing to gh-pages ..</h4>
                  <md-icon class="fill-grey-700">chevron_right</md-icon>
                </md-list-item>
                <md-divider md-inset *ngIf="!last"></md-divider>
              </ng-template>
            </md-list>
            <md-divider></md-divider>
            <md-card-actions>
              <a md-button color="accent" class="text-upper">View All</a>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </div>
    <div class="text-center push-top">
      <button md-raised-button color="accent" class="mat-button-lg text-upper">View All Openings</button>
    </div>
  </section>
  <section class="bgc-blue-A700 tc-white">
    <div layout-gt-xs="row">
      <div flex="40" layout="row" layout-align="center center">
        <md-icon class="push" style="height:auto;width:auto;" svgIcon="assets:elastest"></md-icon>
      </div>
      <div flex class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xxl']">
        <div class="push-top-xxl" hide-xs></div>
        <h3 class="md-display-1 tc-white push-top-xs push-bottom-sm">Recommended to follow</h3>
        <p class="md-title tc-blue-50">Elastest</p>
        <button color="accent" md-raised-button class="push-bottom-md text-upper">View More</button>
        <div class="push-top-xxl" hide-xs></div>
      </div>
    </div>
  </section>
  <!-- end content -->
  <section class="bgc-blue-grey-800 tc-blue-grey-100">
    <div layout-gt-xs="row" layout-align-gt-xs="center center">
      <div layout-gt-sm="row" flex-gt-xs="75" layout-margin layout-padding>
        <div flex>
          <md-nav-list>
            <h3 md-subheader class="text-upper tc-blue-grey-100">Pinned Blogs</h3>
            <md-list-item>
              <md-icon md-list-icon class="fill-white">person_pin_circle</md-icon>
              <p md-line class="tc-blue-grey-300">TFG project</p>
            </md-list-item>
            <md-list-item>
              <md-icon md-list-icon class="fill-white">person_pin_circle</md-icon>
              <p md-line class="tc-blue-grey-300">Motivation</p>
            </md-list-item>
            <md-list-item>
              <md-icon md-list-icon class="fill-white">person_pin_circle</md-icon>
              <p md-line class="tc-blue-grey-300">Related</p>
            </md-list-item>
          </md-nav-list>
        </div>
        <div flex>
          <md-nav-list>
            <h3 md-subheader class="text-upper tc-blue-grey-100">Latest Blogs</h3>
            <md-list-item>
              <md-icon md-list-icon class="fill-white">cloud_upload</md-icon>
              <p md-line class="tc-blue-grey-300">Benefits</p>
            </md-list-item>
            <md-list-item>
              <md-icon md-list-icon class="fill-white">cloud_upload</md-icon>
              <p md-line class="tc-blue-grey-300">Locations</p>
            </md-list-item>
            <md-list-item>
              <md-icon md-list-icon class="fill-white">cloud_upload</md-icon>
              <p md-line class="tc-blue-grey-300">List item</p>
            </md-list-item>
          </md-nav-list>
        </div>
        <div flex-gt-xs="10">
        </div>
        <div flex layout="column" flex-gt-xs="30">
          <md-icon class="push-bottom-md" svgIcon="assets:testmanagement" style="height:auto;width:auto;"></md-icon>
        </div>
      </div>
    </div>
  </section>
  <a md-fab *ngIf="hasScrollYet" (click)="scrollToZero()" color="accent" mdTooltip="Go Top" mdTooltipPosition="above" class="mat-fab-position-bottom-right fixed"
    [ngClass]="{'fabActionsHide':!fabToggle,'fabActionsShow':fabToggle}" style="color: white;">
    <md-icon>keyboard_arrow_up</md-icon>
  </a>
</td-layout-nav>