@import '../../theme';
/* Variables */
$primary:       map-get($theme, primary);
$primary-light: map-get($theme-light, primary-light);
$accent:        map-get($theme, accent);
$accent-light:  map-get($theme-light, accent-light);
$warn:          map-get($theme, warn);
$warn-light:    map-get($theme-light, warn-light);

/* :host /deep/ lets shadowdom style child elements */
:host /deep/ { }


.md-icon-ux {
    width: 100px;
}
.icon {
  font-size: 48px;
}
.logos {
   @media screen and (min-width : 752px) {
      max-width: 15%;
   }
    max-width: 25%;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.logos:hover {
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
  	-webkit-filter: grayscale(0);
	filter: grayscale(0);
  -webkit-animation: shine .75s;
	animation: shine .75s;
}

.logos:after {
   pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.logos:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}


.logos:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

.fabActionsShow {
    transition: transform ease-out 1.5s;
    transition-duration: 1.5s;
    animation:  SHOW 1s;
    animation-fill-mode: forwards;
}
.fabActionsHide {
    transition: transform ease-out 1.5s;
    transition-duration: 1.5s;
    animation:  HIDE 1s;
    animation-fill-mode: forwards;
}



.pull-on-xs {
  @media screen and (max-width : 752px) {
      margin-left: 13%;
   }
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px mat-color($accent), 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px mat-color($accent), 0 0 0 10px rgba(255, 255, 255, 0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px mat-color($accent), 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px mat-color($accent), 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes SHOW {
    0% {
        visibility: hidden;
        transform: translateY(10px);
    }
    80% {
        visibility: visible;
        transform: translateY(-15px);
    }
    100% {
        visibility: visible;
        transform: translateY(0px);
    }
}

@keyframes HIDE {
  0% {
        visibility: visible;
        transform: translateY(-20px);
    }
    80% {
        visibility: hidden;
        transform: translateY(0px);
    }
    100% {
        visibility: hidden;
        transform: translateY(15px);
    }
}


